@model Niagara_Hospice.Models.Announcements

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Announcements</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnnouncementType)
        </dt>
        
        <dd>
            @Html.DisplayFor(model => model.AnnouncementType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AnnouncementID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
