@model IEnumerable<Niagara_Hospice.Models.Announcements>

@{
    ViewBag.Title = "Index";
}

<h2>Announcements</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnnouncementType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnnouncementType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AnnouncementID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AnnouncementID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AnnouncementID })
        </td>
    </tr>
}

</table>
