@model IEnumerable<Niagara_Hospice.Models.Meeting>
@{
    ViewBag.Title = "Meetings";
}
<div class="well">
   
    <p>@Html.ActionLink("New Meeting", "Create", "Create", new { @class = "btn btn-default" })</p>

    <!--MEETING GRID-->
    <div class="container">
        <h1>Upcoming Meetings:</h1>
        @using (Html.BeginForm())
        {
            <p>
                Search Name: @Html.TextBox("Search_Data", ViewBag.FilterValue as string)
                <input type="submit" value="Find" />
            </p>
        }
        <br />
        <table class="table table-condensed table-hover">
            <tr>
                <th>
                    @Html.ActionLink("Title", "Index", new { Sorting_Order = ViewBag.SortingName })
                </th>
                <th>
                    @Html.ActionLink("Date", "Index", new { Sorting_Order = ViewBag.SortingName })
                </th>
                <th>
                    Start Time
                </th>
                <th>
                    End Time
                </th>
                <th>
                    Location
                </th>
                <th>
                    Type
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.ActionLink("View Info", "Details", new { id = item.MeetingID }) |
                        @Html.ActionLink("Edit", "Edit", new { id = item.MeetingID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.MeetingID })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>


<div class="row">
    <div class="col-md-3">
        <h2>Meetings</h2>
        <p>Meetings at a glance.</p>
        <p>@Html.ActionLink("Go to Meetings >>", "Meetings", "Home", new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-3">
        <h2>Schedules</h2>
        <p>Schedules at a glance.</p>
        <p>@Html.ActionLink("Go to Schedules >>", "Schedules", "Home", new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-3">
        <h2>Contacts</h2>
        <p>Contacts at a glance.</p>
        <p>@Html.ActionLink("Go to Contacts >>", "Contacts", "Home", new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-3">
        <h2>Resources</h2>
        <p>Resources at a glance.</p>
        <p>@Html.ActionLink("Go to Resources >>", "Resources", "Home", new { @class = "btn btn-default" })</p>
    </div>
</div>
